{% extends "::base.html.twig" %}


{% block content %}

	<h2>Ajout d'un album</h2>
	
	<ul class="progress-tracker">
		<li class="number active">1</li>
		<li class="text active">Informations</li>
		
		<li class="number">2</li>
		<li class="text">Upload des photos</li>
		
		<li class="number">3</li>
		<li class="text">Sélection de la miniature</li>
		
		<li class="number">4</li>
		<li class="text">Récapitulatif</li>
	</ul>

	{% if error is defined and error != null %}
	<div class="alert alert-error">
		{{ error|raw }}<br />
	</div>
	{% endif %}

	<form class="form-horizontal" action="{{ path('reporter_album_new') }}" style="margin-left: 15px;" method="POST">

<script type="text/javascript">
    $(document).ready(function() {
        $( "#datepicker" ).datepicker();
	});
    </script>
	<div class="form-elem">
		<div class="form-elem-title">Informations de base</div>
		
		<div class="control-group">
			<label class="control-label" for="inputUsername">Nom </label>
			<div class="controls">
				<input type="text" id="inputName" name="name">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputUsername">Date </label>
			<div class="controls">
				<input id="datepicker" type="text" name="date">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Accès </label>
			<div class="controls">
				<select name="access"> 
					<option value="ROLE_REPORTER" style="color: red;">Reporters</option>
					<option value="ROLE_USER" style="color: orange;">Utilisateurs</option>
					<option value="IS_AUTHENTICATED_ANONYMOUSLY" style="color: green;">Tout le monde</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Statut </label>
			<div class="controls">
				<select name="status" disabled> 
					<option value="0" style="color: orange;">En attente de publication</option>
					<!--<option value="1" style="color: green;">Publié (reservé au Resp. MàJ)</option>-->
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Catégorie </label>
			<div class="controls">
				<select name="category"> 
					{% for category in categories %}
					<option value="{{ category.id }}">{{ category.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

	</div>

	<div class="form-elem">
		<div class="form-elem-title">Reporter(s)</div>

		<div class="control-group">
			<label class="control-label">Reporter(s) </label>
			<div class="controls">
				<select name="reporters[]" size="15" class="span5" multiple> 
					{% for reporter in reporters %}
					<option value="{{ reporter.id }}">{{ reporter.username }} ({{ reporter.firstname }} {{ reporter.lastname }})</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="form-elem">
		<div class="form-elem-title">Vidéo associée</div>

		<p>En développement...</p>
	</div> 
	
	<blockquote class="pull-right">
		<p><strong>C'est presque terminé !</strong><br />
		<button class="btn btn-large btn-success" type="submit">Suivant &gt;</button></p>
	</blockquote>
</form>
	
	<p style="clear: both;"></p>

{% endblock %}