{% trans_default_domain 'FOSUserBundle' %}



<form class="form-horizontal fos_user_registration_register" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
	<fieldset>

    {{ form_widget(form) }}

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}">{{ 'registration.submit'|trans }}</button>
      </div>
    </div>

	</fieldset>
</form>
