		<li class="album-box album-box-{% if loop.index is even %}even{% else %}odd{% endif %} {% if album.access == "ROLE_REPORTER" %}album-box-admin{% endif %}">

			<div class="album-box-thumb">
				<a href="{{ path('album_view', {'id': album.id}) }}">
				<img src="{{ asset('miniatures/' ~ album.id ~ '/' ~ album.thumb) }}" class="img-polaroid" alt="" />
				</a>
			</div>

			{% if album.access == 'ROLE_USER' and not is_granted('ROLE_USER') %}
			<div class="album-locked"></div>
			{% elseif album.access == 'ROLE_USER' %}
			<div class="album-unlocked"></div>
			{% endif %}

			<div class="album-box-text">
				<h5><a href="{{ path('album_view', {'id': album.id}) }}">{{ album.name }}</a></h5>
				<p style="float:left; width: 230px;"><i class="icon-user"></i>
				Auteur{% if album.reporters|length > 1%}s{% endif%} : 
				{% for reporter in album.reporters %}
					<a href="{{ path('user_show', {id: reporter.id}) }}">{{ reporter.username }}</a>
					{% if not loop.last %},{% endif %}
				{% endfor %}
				</p>

				<p style="float:left;width: 180px;"><i class="icon-tag" style=""></i>
				Catégorie : <strong>{{ album.category.title }}</strong>
				</p>
				
				<p style="float:left;margin-right: 10px;">
					<i class="icon-eye-open"></i>
					<strong>{{ album.getVisitCount }}</strong>
					vue{% if album.getVisitCount|length > 1%}s{% endif%}
				</p>
				
				<p><br /><br /></p>
				<div style="float:left;margin-top:-10px" class="btn-group" >
					<a href="{{ path('album_view', {'id': album.id}) }}" class="btn btn-small"><i class="icon-play-circle"></i> Visualiser</a>
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ path('album_download', {'id': album.id}) }}" data-toggle="modal"><i class="icon-download"></i> Télécharger</a></li>
						<li><a href="#notImplemented" data-toggle="modal"><i class="icon-envelope"></i> Envoyer à un ami</a></li>
						
	{% if is_granted('ROLE_MAJ') %}
						<li class="divider"></li>
					{% if album.published == true %}
						<li><a href="{{ path('admin_album_publish', {'id': album.id}) }}"><i class="icon-folder-open"></i> Dé-publier</a></li>
                    {% else %}
						<li><a href="{{ path('admin_album_publish', {'id': album.id}) }}"><i class="icon-folder-open"></i> Rendre public</a></li>
                    {% endif %}
						<li><a href="{{ path('admin_album_edit', {'id': album.id}) }}"><i class="icon-trash"></i> Editer/Supprimer d'album</a></li>
						<li><a href="{{ path('admin_album_add_upload', {'id': album.id}) }}"><i class="icon-pencil"></i> Ajouter des Photos</a></li>
						
	{% endif %}
					</ul>
				</div>
	
				<p class="album-box-date" style="margin-top:-80px">{{ album.date | localizeddate('full', 'none', 'fr') | title }}</p>

				{% if album.video is not null %}
				<div style="float:left; margin-left: 10px;margin-top: 5px;">
					<i class="icon-film"></i>
					<strong>Vidéo associée :</strong>
					<a href="{{ path('video_show', {id: album.video.id}) }}">{{ album.video.name }}</a>
				</div>
				{% endif %}
				
				
								
			</div>
			
		</li>
