<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}EPS &ndash; EFREI Picture Studio{% endblock %}</title>
		
		{% block stylesheets %}

        {% stylesheets combine=true
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '%kernel.root_dir%/../web/css/nivo-slider.css'
            '%kernel.root_dir%/../web/css/style.css'
            '%kernel.root_dir%/../web/css/open-sans.css'
            filter='lessphp,cssrewrite'
            output='css/compiled/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}  

		{% endblock %}

		{% block javascripts %}
		{% javascripts
			'%kernel.root_dir%/../web/js/jquery-1.8.3.js'
		    '%kernel.root_dir%/../web/js/bootstrap.min.js'
		    '%kernel.root_dir%/../web/js/jquery.nivo.slider.pack.js'
		    '%kernel.root_dir%/../web/js/scripts.js' 
			output='js/compiled/main.js'
		    %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
	{% endblock %}
		
		<link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
	</head>
	<body>
		<header class="navbar">
		{% block header %}
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{ path('homepage') }}"><img src="{{ asset('img/logo-small.png') }}" alt="" /> {% block brand %}EFREI Picture Studio{% endblock %}</a>

				<ul class="nav">
					<li class="active">
						<a href="{{ path('homepage') }}">Accueil</a>
					</li>

					<li class="dropdown">
						<a class="dropdown-toogle" href="{{ path('albums') }}">Photos</a>
						<ul>
							<li><a href="{{ path('albums_category', {cat: 1}) }}">PODs</a></li>
							<li><a href="{{ path('albums_category', {cat: 2}) }}">Soirées</a></li>
							<li><a href="{{ path('albums_category', {cat: 9}) }}">WEI</a></li>
							<li><a href="{{ path('albums_category', {cat: 6}) }}">Voyages</a></li>
							<li><a href="{{ path('albums_category', {cat: 7}) }}">Campagne BDE</a></li>
							<li><a href="{{ path('albums_category', {cat: 8}) }}">Théâtre</a></li>
							<li><a href="{{ path('albums_category', {cat: 10}) }}">RDD</a></li>
							<li><a href="{{ path('albums_category', {cat: 12}) }}">Conférences</a></li>
							<li><a href="{{ path('albums_category', {cat: 19}) }}">Stand photo</a></li>
							<li><a href="{{ path('albums_category', {cat: 16}) }}">Ecole</a></li>
						</ul>
					</li>
					<li><a href="{{ path('videos') }}">Vidéos</a></li>
					<li class="dropdown">
						<a href="#">L'association</a>
						<ul>
							<li class="first-child"><a href="{{ path('quiesteps') }}">Qui est EPS ?</a></li>
							<li><a href="{{ path('services') }}">Ses services</a></li>
							<li class="last-child"><a href="{{ path('materiel') }}">Son matériel</a></li>
						<li><a href="{{ path('members') }}">Ses membres</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#">Contact</a>
						<ul>
							<li class="first-child"><a href="{{ path('contact') }}">Nous écrire</a></li>
							<li><a href="{{ path('join') }}">Nous rejoindre</a></li>
							<li class="last-child"><a href="{{ path('contact') }}">Demander une couverture</a></li>
						</ul>
					</li>

					{% if not is_granted('ROLE_USER') %}

					<li>
						<a href="{{ path('fos_user_security_login') }}">Connexion</a>

					</li>

					<li><a href="{{ path('fos_user_registration_register') }}"> Inscription</a></li>

					{% endif %}

					{% if is_granted('ROLE_USER') %}

					<li class="dropdown">
						<a href="{{ path('fos_user_profile_show') }}">Mon compte</a>

						<ul>
							<li class="first-child"><a href="{{ path('fos_user_profile_show') }}">Profil <em><small>({{ app.user.username }})</small></em></a></li>

							<li><a href="{{ path('admin') }}">Admin</a></li>

							<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
						</ul>

					</li>
					
					{% endif %}
				</ul>
			</div>
		</div>
			
		{% endblock %}
		</header>
		
		
		{% block slider %}
		{% endblock %}

		{% block body %}

		<div id="content">
			{% block leftmenu %}
			{% endblock %}
			{% block content %}
			
			<p style="text-align:center;font-size: 20px;margin-top: 50px;"><em>More to come...</em></p>
			
			{% endblock %}
		</div>
		{% endblock %}
		
		<footer class="footer">
			<div class="container">
			<p class="pull-right"><a href="#">Retour en Haut</a></p>
			
			<p><br />© Copyright Efrei Picture Studio 2008-2013. Tous droits réservés.<br />
				<a href="{{ path('services') }}">Services</a> | 
				<a href="{{ path('materiel') }}">Matériel</a> |
				<a href="{{ path('members') }}">Membres</a> |
				<a href="{{ path('contact') }}">Nous écrire</a> |
				<a href="{{ path('join') }}">Nous rejoindre</a>
			</p>
			
			<p><br />
			<a href="http://www.efrei.fr" target="_blank"><img src="{{ asset('img/efrei.png') }}" alt="Efrei"></a><br />
			</p>
			
			<p><br />Design &amp; Code par <a href="http://alf0.net" target="_blank">Alexis Fouché</a> (Promotion 2015)</p>.
		</div>
		</footer>

	</body>
</html>