		<div class="main-slider">
			<div id="slider" class="nivoSlider">
			{% for slider in sliders %}
				<img src="{{ asset('img/slider/' ~ slider.photo) }}" alt="" title="#htmlcaption{{ slider.id }}">
			{% endfor %}
			</div>
			{% for slider in sliders %}
				<div id="htmlcaption{{ slider.id }}" class="nivo-html-caption">
					<span>{{ slider.album.name }}, <em>par {{ slider.user.username }}</em></span>
				</div>
			{% endfor %}
			

		

			<div id="preloader"></div>
		</div>