{% extends "::base.html.twig" %}


{% block content %}

	<h2>Edition de mon profil</h2>

	<p class="well alert alert-info">
		Sur cette page vous pouvez éditer les informations vous concernant. Certaines données ne sont pas modifiables car elles sont directement envoyées par l'EFREI et sont donc certifiées exactes. Cependant, ces dernières ne sont pas affichées publiquement sur notre site.
	</p>

	{% if error is defined %}
	<div class="alert alert-error">
		{{ error }}<br />
	</div>
	{% endif %}

	{% if success == true %}
	<div class="alert alert-success">
		Les informations ont été enregistrées<br />
	</div>
	{% endif %}
	
	<form class="form-horizontal" action="{{ path('user_edit') }}" style="margin-left: 250px;" method="POST">
		<div class="control-group">
			<label class="control-label" for="inputUsername">Nom d'utilisateur (*)</label>
			<div class="controls">
				<input type="text" id="inputUsername" class="uneditable-input" value="{{ user.username }}" disabled>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email (*)</label>
			<div class="controls">
				<input type="text" id="inputEmail" class="uneditable-input" value="{{ user.email }}" disabled>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFirstname">Prénom (*)</label>
			<div class="controls">
				<input type="text" id="inputFirstname" class="uneditable-input" value="{{ user.firstname }}" disabled>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLastname">Nom (*)</label>
			<div class="controls">
				<input type="text" id="inputLastname" class="uneditable-input" value="{{ user.lastname }}" disabled>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPseudo">Pseudonyme</label>
			<div class="controls">
				<input type="text" id="inputPseudo" value="{{ user.pseudo }}" name="pseudo">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPromo">Promotion</label>
			<div class="controls">
				<input type="text" id="inputPromo" value="{{ user.promo }}" name="promo">
			</div>
		</div>
    
	
	<blockquote class="pull-right">
		<p><strong>Validez !</strong><br />
		<button class="btn btn-large btn-success" type="submit">Enregistrer &gt;</button></p>
	</blockquote>
	
	</form>
	
	<p style="clear: right;"> </p>
	
{% endblock %}