{% extends "::base.html.twig" %}


{% block content %}

	<h2>Espace Reporter</h2>

	<div class="admin-button">
		<a href="{{ path('reporter_album_new') }}">
			<img src="{{ asset('img/admin/album-add.png') }}" alt="" />
			<p>Ajouter un Album</p>
		</a>
	</div>

	<div class="admin-button">
		<a href="{{ path('reporter_albums', {id: app.user.id}) }}">
			<img src="{{ asset('img/admin/album-list.png') }}" alt="" />
			<p>Mes albums</p>
		</a>
	</div>

	<div class="admin-button">
		<a href="https://docs.google.com/spreadsheet/ccc?key=0ApnMwNhJywV8dFdZZXNLakJNQlJ2cmNGNEd6SjZXT0E&amp;usp=sharing">
			<img src="{{ asset('img/admin/google-drive.png') }}" alt="" />
			<p>Google Drive</p>
		</a>
	</div>

	<div class="admin-button">
		<a href="#">
			<img src="{{ asset('img/admin/user-settings.png') }}" alt="" />
			<p>Editer mes infos</p>
		</a>
	</div>

	<p style="clear: both;"></p>

{% endblock %}