{% extends "::base.html.twig" %}


{% block content %}

	<h2>L'équipe EPS</h2>

	<hr />

		<h3>Bureau</h3>

		{% for member in members %}
			{% if member.rank == "PRESIDENT" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		{% for member in members %}
			{% if member.rank == "VICE-PRESIDENT" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		{% for member in members %}
			{% if member.rank == "TREASURER" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		{% for member in members %}
			{% if member.rank == "SECRETARY" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		<p style="clear:both;"></p>

		<h3>Parrain</h3>

		{% for member in members %}
			{% if member.rank == "GODFATHER" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		<p style="clear:both;"></p>

		<h3>Reporters</h3>

		{% for member in members %}
			{% if member.rank == "REPORTER" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></a></p>
				<p><em>{{ member.description }}</em></p>
			</div>
			{% endif %}
		{% endfor %}

		<p style="clear:both;"></p>

		<h3>Anciens Reporters</h3>

		{% for member in members %}
			{% if member.rank == "FORMER_REPORTER" %}
			<div class="member-list-item">
				<img src="{{ asset(member.getProfilePicture) }}" alt="" />
				<p><a href="{{ path('user_show', {id: member.id}) }}"><strong>{{ member.firstname }} {{ member.lastname }}</strong> <em>({{ member.username }})</em></p>
				<p><em>{{ member.description }}</em></a></p>
			</div>
			{% endif %}
		{% endfor %}



	


	

	<p style="clear: both;"></p>

{% endblock %}