{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Ajout d'une photo du carousel</h1>

    <hr />
	
  <ul class="progress-tracker">
    <li class="number active">1</li>
    <li class="text active">Informations</li>
    
    <li class="number">2</li>
    <li class="text">Upload de la photo</li>
    
  </ul>
	{% if error is defined and error != null %}
	<div class="alert alert-error">
		{{ error|raw }}<br />
	</div>
	{% endif %}
      <div class="form-elem">
		<div class="form-elem-title">Enregistrement</div>
	    <div class="control-group">
    {% form_theme form '::forms.html.twig' %}

    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

		{{ form_row(form.actif) }}
		{{ form_row(form.album, {attr: {'size' : 15, 'class' : 'span5'}}) }}
		{{ form_row(form.user, {attr: {'size' : 15, 'class' : 'span5'}}) }}
			<!-- Button -->
			<div class="controls">
				<button class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Rechercher">Enregistrer</button>
			</div>
		</div>
	</div>
    {{ form_end(form) }}


    <a class="btn btn-success" href="{{ path('admin_carousel') }}">
        Retour à la liste
    </a>

</ul>
{% endblock %}
