{% extends "::base.html.twig" %}


{% block content %}

	<h1>Administration</h1>

	<hr />

	<div class="admin-button">
		<a href="https://drive.google.com/folderview?id=0B1XxKG-yPV1NcU1SSko3ZmduaE0&usp=sharing">
			<img src="{{ asset('img/admin/google-drive.png') }}" alt="" />
			<p>Google Drive</p>
		</a>
	</div>

	<div class="admin-button">
		<a href="{{ path('admin_album_new') }}">
			<img src="{{ asset('img/admin/album-add.png') }}" alt="" />
			<p>Ajouter un Album</p>
		</a>
	</div>
	
	{% if is_granted('ROLE_MAJ') %}
	<div class="admin-button">
		<a href="{{ path('admin_album') }}">
			<img src="{{ asset('img/admin/albums.png') }}" alt="" />
			<p>Gestion des Albums</p>
		</a>
	</div>
	
	<div class="admin-button">
		<a href="{{ path('admin_carousel') }}">
			<img src="{{ asset('img/admin/carousel.jpeg') }}" alt="" />
			<p>Gestion du Carousel</p>
		</a>
	</div>
	
	<div class="admin-button">
		<a href="{{ path('admin_video_new') }}">
			<img src="{{ asset('img/admin/video-add.png') }}" alt="" />
			<p>Ajouter une Vidéo</p>
		</a>
	</div>
	
	<div class="admin-button">
		<a href="{{ path('admin_video') }}">
			<img src="{{ asset('img/admin/videos.png') }}" alt="" />
			<p>Gestion des Vidéos</p>
		</a>
	</div>
	{% endif %}
	


	{% if is_granted('ROLE_BUREAU') %}
	<div class="admin-button">
		<a href="{{ path('admin_static') }}">
			<img src="{{ asset('img/admin/static.png') }}" alt="" />
			<p>Gestion des pages statiques</p>
		</a>
	</div>

	<div class="admin-button">
		<a href="{{ path('admin_user') }}">
			<img src="{{ asset('img/admin/users.png') }}" alt="" />
			<p>Gestion des Utilisateurs</p>
		</a>
	</div>

	{% endif %}

	<p style="clear: both;"></p>

{% endblock %}